<br>
<div class="container d-flex justify-content-center align-items-center">
    <div class="form-container shadow p-4 bg-white rounded" style="width: 300px;">
        <br>
        <h4 class="text-center">Student Information Form</h4>
        <br>
        <form>
            <div class="form-group">
                <label for="rollNo">Roll No</label>
                <input type="text" class="form-control" id="rollNo" placeholder="Enter Roll No" required>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
                <label for="class">Class</label>
                <input type="text" class="form-control" id="class" placeholder="Enter Class" required>
            </div>
            <div class="form-group">
                <label for="marks">Marks</label>
                <input type="number" class="form-control" id="marks" placeholder="Enter Marks" required>
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </form>
    </div>
</div>