<div class="container">
    <br>
    <br>
    <h4 class="text-center">Student List</h4>
    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th scope="col">Roll No</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Mark</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Babu</td>
                <td>X</td>
                <td>96</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Bindu</td>
                <td>XI</td>
                <td>91</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Suja</td>
                <td>XII</td>
                <td>85</td>
            </tr>
        </tbody>
    </table>
</div>